<div class="ekart-search-bar">
  <input
    class="ekart-search-box"
    type="text"
    placeholder="Search"
    [value]="searchText"
    [(ngModel)]="searchText"
  />
  <button
    [ngClass]="{
      btn: true,
      'btn-search': searchText,
      'btn-search_disabled': !searchText
    }"
    [disabled]="!searchText"
  >
    <i class="fa fa fa-search" aria-hidden="true"></i>
  </button>
</div>
<div class="ekart-search-result" *ngIf="searchText">
  <p>
    Search result: <strong>{{ searchText }}</strong>
  </p>
</div>
